.closeHolder {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    top: 5rem;
    right: 3.3rem;
}

.closeHolder:hover > .item::before, .closeHolder:hover > .item::after {
    background-color: floralwhite;
}

.item {
    width: 20px;
    height: 1px;
    background-color: transparent;
}

.item::before, .item::after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 1px;
    left: 0;
    top: 0;
    background-color: grey;
    z-index: 10000;
    transition: all .3s ease;
}

.item::after {
    transform: rotate(-45deg);
}

.item::before {
    transform: rotate(45deg);
}